body {
    background-color: #427aa1;
    font-family: 'Rock Salt', Arial, sans-serif;
    font-size: 22px;  
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

header {
    background-color: #a1683a;
    justify-content: space-around;
    width: 1300px;
    border: none;
}

nav{
    justify-content: space-around;
    display: flex;
    padding: 10px;
    
    
}
nav a {
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 16px
}
h1{
    color: rgb(0, 0, 0);
    display: inline;
    text-align: center;
}
.logo {
    width: 10%;
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px black solid;
}
.knowledge {
    display: inline-block;
    margin: 0 auto;
    border: none;
    float: left;
    width: 33%;
}
.book-knowledge {
    width: 100%;
    margin: 0 auto;
    padding: 0 4em 4em 0;
    margin-left: 3em;
}
.homequestion {
    text-align: center;
    clear: both;
}
.welcome {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: none;
    padding-left: 5em;
}

.card-img {
    border: 3px solid rgb(255, 255, 255);
    width: 15%;
    margin: 0 auto;
    padding: .5%;
    align-content: center;
    display: flex;
}
.card-images {
    display: flex;
    margin-bottom: 2em;
}
   
.answer {
    text-align: center;
    margin-left: 3em;
}

.instructions{
    text-align: center;
    margin-left: 3em;
}
nav, footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 12px;
    margin-top: 30%;
    padding: 2px;

}

footer a {  
    padding: 25px 50px; 
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color:rgb(255, 255, 255)
}
footer a:hover {
    text-decoration: none;
    background-color: #427aa1;
    padding: 10px;
    font-size: 12px;
}

/*Page Two Stepbysteps*/

.steps {
    width: 15%;
    margin-left: 3em;
}
titleone {
    text-align: center;
}

/* Style the tab */

tab {
    float: left;
    border: 3px solid #fff;
    background-color: #000000;
    width: 50%;
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: #000;
    color: white;
    padding: 18px 16px;
    width: 20%;
    border: 1px solid #427aa1;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #a1683a;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #a1683a;
    width: 40%;
    border-left: none;
    height: 210px;
    font-size: 12px;
    color: #ffffff;
    margin-left: 20%;
    margin-top: -14%;

  }

