body {
    background-color: #427aa1;
    font-family: 'Rock Salt', Arial, sans-serif;
    font-size: 22px;  
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    
}
header {
    background-color: #a1683a;
    grid-template-columns: 50% auto;
    margin-top: -10%;
    border: 5px solid black;
    
}

nav{
    display: flex;
    justify-content: space-around;
    
}
nav a {
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
}

.logo {
    width: 15%;
}
#logo {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.knowledge {

    display: inline-block;
    margin: 0 auto;
    border: none;
    
}
.book-knowledge {
    float: left;
    width: 80%;
    padding: 10%;
    margin: 0 auto;
}
.homequestion {
    text-align: center;
}
.welcome {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: #ffffff;
    border: 3px solid rgb(253, 0, 0);
}
.believe {
    font-size: 14px;
    border: 3px solid rgb(43, 255, 1);

}
.card-img {
    border: 3px solid rgb(255, 255, 255);
    width: 20%;
    margin: 0 auto;
    padding: .5%;
    align-content: center;
}


    
.answer {
    text-align: center;

}