body {
    background-color: #427aa1;
    font-family: 'Rock Salt', Arial, sans-serif;
    font-size: 22px;  
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    
}
header {
    background-color: #a1683a;
    grid-template-columns: 50% auto;
    margin-top: -10%;
    border: 5px solid black;
    
}

nav{
    display: flex;
    justify-content: space-around;
    
}
nav a {
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 16px
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
}

.logo {
    width: 15%;
}
#logo {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.knowledge {

    display: inline-block;
    margin: 0 auto;
    border: none;
    
}
.book-knowledge {
    float: left;
    width: 80%;
    padding: 10%;
    margin: 0 auto;
}
.homequestion {
    text-align: center;
}
.welcome {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: #ffffff;
    border: 3px solid rgb(0, 0, 0);
}
.believe {
    font-size: 14px;
    border: 3px solid rgb(0, 0, 0);

}
.card-img {
    border: 3px solid rgb(255, 255, 255);
    width: 15%;
    margin: 0 auto;
    padding: .5%;
    align-content: center;
}
   
.answer {
    text-align: center;
}

.steps{
    width: 20%;
}
nav, footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 12px;
    margin-top: 30%;
    padding: 2px;

}

footer a {  
    padding: 25px 50px; 
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color:rgb(255, 255, 255)
}
footer a:hover {
    text-decoration: none;
    background-color: #427aa1;
    padding: 10px;
    font-size: 12px;
}
/* Style the tab */

tab {
    float: left;
    border: 3px solid #fff;
    background-color: #000000;
    width: 50%;
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: #000;
    color: white;
    padding: 18px 16px;
    width: 15%;
    border: 1px solid #427aa1;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #a1683a;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #a1683a;
    width: 40%;
    border-left: none;
    height: 300px;
    font-size: 12px;
    color: #ffffff;
  }